# VS code
*.project
*.settings/
*.vscode/

# IntelliJ
*.iml
*.idea

*.DS_Store
.history

.gradle
**/build/
**/out/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

#jenv
.java-version

#Do not upload
*.sec
/configs